<p id="notice"><%= notice %></p>

<p>
  <strong>Nomorganisme:</strong>
  <%= @organisme_referent.nomOrganisme %>
</p>

<p>
  <strong>Adressenocivique:</strong>
  <%= @organisme_referent.adresseNoCivique %>
</p>

<p>
  <strong>Adresserue:</strong>
  <%= @organisme_referent.adresseRue %>
</p>

<p>
  <strong>Adresseville:</strong>
  <%= @organisme_referent.adresseVille %>
</p>

<p>
  <strong>Adresseprovince:</strong>
  <%= @organisme_referent.adresseProvince %>
</p>

<p>
  <strong>Adresseetat:</strong>
  <%= @organisme_referent.adresseEtat %>
</p>

<p>
  <strong>Adressecodepostal:</strong>
  <%= @organisme_referent.adresseCodePostal %>
</p>

<p>
  <strong>Telephonebureau:</strong>
  <%= @organisme_referent.telephoneBureau %>
</p>

<p>
  <strong>Adressetelecopie:</strong>
  <%= @organisme_referent.adresseTelecopie %>
</p>

<p>
  <strong>Courriel:</strong>
  <%= @organisme_referent.courriel %>
</p>

<p>
  <strong>Siteweb:</strong>
  <%= @organisme_referent.siteWeb %>
</p>

<%= link_to 'Edit', edit_organisme_referent_path(@organisme_referent) %> |
<%= link_to 'Back', organisme_referents_path %>
