<p id="notice"><%= notice %></p>

<p>
  <strong>Nom:</strong>
  <%= @organisme.nom %>
</p>

<p>
  <strong>Adresse:</strong>
  <%= @organisme.adresse %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @organisme.telephone %>
</p>

<p>
  <strong>Courriel:</strong>
  <%= @organisme.courriel %>
</p>

<%= link_to 'Edit', edit_organisme_path(@organisme) %> |
<%= link_to 'Back', organismes_path %>
